<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 기타 설정 -->
    <settings>
        <!-- 자동으로 카멜 케이스로 매핑할지 여부 설정 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

</configuration>